# Python Cheatsheet

In [1]:
10/3

3.3333333333333335

In [3]:
import math

In [4]:
math.floor(10/3)

3

In [5]:
math.ceil(10/3)

4

In [6]:
round(10/3,3)

3.333

In [7]:
10//4

2

In [8]:
9%5

4

In [9]:
2**4

16

In [10]:
math.pow(2,4)

16.0

In [11]:
9**0.5

3.0

In [16]:
math.sqrt(4)

2.0

### Deyisen teyin etmek

In [13]:
a = 5

In [14]:
a + a

10

In [17]:
a = 10
a = "Lale"

In [18]:
a*2

'LaleLale'

In [19]:
a = a * a
a

TypeError: can't multiply sequence by non-int of type 'str'

In [20]:
type(a)

str

#### String

In [60]:
city = 'Baku'
city

'Baku'

In [22]:
"Now I'm going to university"

"Now I'm going to university"

In [24]:
print('London')
print('Paris\n')
print('and Viana\t are beautiful city')

London
Paris

and Viana	 are beautiful city

In [25]:
len("Now I'm going to university")

27

In [26]:
# indexing
name = "Lale"
print(name[2])
print(name[-3])

l
a

In [28]:
#slicing
city="San Andreas"

In [31]:
city[-1:-10:-3]

'srA'

In [32]:
city[: :-3]

'srAa'

In [33]:
city[:]

'San Andreas'

In [34]:
city[1:]

'an Andreas'

In [35]:
city[:5]

'San A'

In [36]:
city[2:6]

'n An'

In [37]:
city[:-1]

'San Andrea'

In [38]:
city[-1:]

's'

In [39]:
city[::2]

'SnAdes'

In [40]:
city[2:8:2]

'nAd'

In [41]:
city[4]

'A'

### Built-in funksiyalar

In [42]:
print(city.upper())

print(city.lower())

SAN ANDREAS
san andreas

In [43]:
# split bosluqlara gore bolur
list1 = city.split()
print(list1)

['San', 'Andreas']

In [44]:
# herfe gore bolur, ozunu qebul etmir
list1  = city.split('e')
list1

['San Andr', 'as']

In [45]:
ad = "Lale"

"Menim adim {}".format(ad)

'Menim adim Lale'

In [47]:
'Menim adim %s' %ad+'dir'

'Menim adim Laledir'

In [48]:
is_yeri = "QSS"

print("Menim adim %s, %s-de isleyirem" %(ad,is_yeri))

print("Menim adim %r, %r-de isleyirem" %(ad,is_yeri))

Menim adim Lale, QSS-de isleyirem
Menim adim 'Lale', 'QSS'-de isleyirem

In [49]:
print(("Names : {2}, {0}, {1}").format('Lale', 'Leyla', 'Hesen'))

Names : Hesen, Lale, Leyla

In [50]:
print("Adiniz nedir?")
name = input()
print("Xos gelmisiz {}".format(name))

Adiniz nedir?
ad
Xos gelmisiz ad

### list-ler

In [51]:
list1=[1,2,4,6]

list1[2]=7
print(list1)

[1, 2, 7, 6]

In [52]:
# nested lists
list2=[3,7]
list3=[9,10]
list4 = [list1,list2,list3]
print(list4)

[[1, 2, 7, 6], [3, 7], [9, 10]]

### Python Statements

#### if statements

In [53]:
if 7<5:
    print('True')
else:
    print('False')

False

#### for statement

In [ ]:
sum_num = 0

for num in list1:
#     sum_num = sum_num + num
    sum_num += num
print(sum_num)

#### range

In [54]:
list1 = list(range(0,11))
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
list1 = list(range(0,11,3))
print(list1)

[0, 3, 6, 9]

In [56]:
for i in range(11,2,-2):
    print(i)

11
9
7
5
3

#### min , max

In [57]:
list5 = [1,2,3,4,5,6,7,8,9]

print(max(list5))
print(min(list5))

9
1